<div class="bbm-modal__topbar">
    <h3 class="bbm-modal__title">Save an image</h3>
</div>
<div class="bbm-modal__section">
    <div class="alert alert-error" style="display:none;">
    </div>
    <form class="form-horizontal" id="image-form" enctype="multipart/form-data">
        <section>
            <input type="text" placeholder="Title" id="new-note-title"  autofocus/>
        </section>
        <section>
            <input type="file" placeholder="What would you like to save?" name="newnoteimage" id="new-note-image"></textarea>
        </section>
    </form>
</div>
<div class="bbm-modal__bottombar">
    <button type="submit" class="btn btn-primary" id="addButton" form="image-form">Add</button>
    <a href="#" class="bbm-button">Close</a>
</div>