<div class="bbm-modal__topbar">
    <h3 class="bbm-modal__title">Create Note</h3>
</div>
<div class="bbm-modal__section">
    <div class="alert alert-error" style="display:none;">
    </div>
    <form class="form-horizontal" id="login-form">
        <section>
        	<h4>Type</h4>
        </section>
        <section>
            <input type="text" placeholder="Title" id="new-note-title"/>
        </section>
        <section>
            <textarea type="text" placeholder="What would you like to save?" id="new-note-text"></textarea>
        </section>
    </form>
</div>
<div class="bbm-modal__bottombar">
<button type="submit" class="btn" id="addButton" form="login-form">Add</button>
    <a href="#" class="bbm-button">Close</a>
</div>