<div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%= notesApp.Title %></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
           <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#account"><i class="fa fa-cog"></i> Account</a></li>
                <li><a href="#logout"><i class="fa fa-sign-out"></i> Logout</a></li>
                              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add Note <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">Select type:</li>
                <li><a href="#note/text"><i class="fa fa-pencil-square-o"></i> Text</a></li>
                <li><a href="#note/web"><i class="fa fa-external-link"></i> Website</a></li>
                <li><a href="#note/todo"><i class="fa fa-list-ul"></i> Todos</a></li>
                <li><a href="#note/img"><i class="fa fa-picture-o"></i> Image</a></li>
              </ul>
            </li>
          </ul>
<!--           <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Default</a></li>
            <li><a href="../navbar-static-top/">Static top</a></li>
            <li class="active"><a href="./">Fixed top</a></li>
          </ul> -->
        </div><!--/.nav-collapse -->
      </div>
    </div>