<section class="notes-section">
    <div class="note-list-section">
        <ul id="notes-list">
        </ul>
        <ul>
            <li class="note-item">
                <section class="note-section">
                    <div class="note-title">
                        <input type="text" placeholder="A title for that note?" id="new-note-title" />
                    </div>
                    <div class="note-text">
                        <textarea type="text" placeholder="What would you like to save?" id="new-note-text"></textarea>
                    </div>
                </section>
                <section>
                    <button id="save-new-note">Save</button>
                </section>
            </li>
        </ul>
    </div>
</section>