<section class="notes-section">
    <div class="note-list-section">
        <ul id="notes-list">
            <li>
                <input type="text" placeholder="Add Note..." id="new-note" />
            </li>
        </ul>
    </div>
</section>