<section class="quick-note-section">
    <div class="quick-note-text">
        <textarea type="text" placeholder="What would you like to save?" id="new-note-text"></textarea>
    </div>
</section>
<section class="notes-section">
    <div class="note-list-section">
        <ul id="notes-list">
        </ul>
    </div>
</section>