<!-- <section class="quick-note-section">
    <div class="quick-note-text" data-toggle="tooltip" data-placement="top" title="Add a quick note.  Just hit enter to add!">
    	<span class="note-add"><i class="fa fa-plus fa-2"></i></span>
        <textarea type="text" placeholder="What would you like to save?" id="new-note-text"></textarea>
    </div>
</section> -->
<section class="notes-section">
    <div class="note-list-section">
        <ul id="notes-list">
        </ul>
    </div>
</section>