<section class="note-section">
    <div class="note-data">
        
    </div>
    <section class="note-cmds">
        <ul class="note-stats">
            <li>
<!--                 <div>
                    <small>Note type: <%= type %></small>
                </div> -->
            </li>
        </ul>
        <ul class="note-stats edit-note-cmds">
            <li><span class="update-note"><i class="fa fa-floppy-o"></i></span></li>
            <li><span class="edit-note"><i class="fa fa-pencil"></i></span></li>
            <li><span class="edit-undo"><i class="fa fa-undo"></i></span></li>
            <li><span class="delete-note"><i class="fa fa-times-circle"></i></span></li>
        </ul>
    </section>
</section>