html,body{
    margin:0;
    padding:0;
}
body {
    background: #edf5f9 bottom repeat-x;
    position: absolute;
    z-index: -1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.hero-unit {
    margin: 49px auto 0 auto;
    width: 100%;
    height: 100%;
    padding:20px;
    box-shadow: inset 0 0 30px #000000;
    display: none;
}
a {
    color: #4183c4;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.quick-note-text textarea {
    width: 100%;
    padding: 10px;
    font-size: 110%;
    opacity: 0.6;
    z-index: 10;
}
.quick-note-text textarea:hover,.quick-note-text textarea:focus{
    box-shadow: 1px 1px 3px 0px black;
    opacity: 1;
    z-index:1000;
}
.note-item {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0.3em;
    *display: inline;
    *margin-right: 0.3em;
    *zoom: 1;
    min-height: 200px;
    max-height: 390px;
    width: 33.333%;
}
.note-item h1 {
    margin: 2px;
    font-size: 120%;
}
.note-item > section {
    padding: 8px;
    margin: 7px;
    margin-bottom: 15px;
    border-radius: 2px;
    position: relative;
}
.note-item .note-section {
    background: #fff;
    box-shadow: 1px 1px 3px 0px black;
    min-height: 200px;
}
.note-item .note-desc {
    padding: 0 0 0 7px;
    font-size: 95%;
    font-style: italic;
    margin-left: 2px;
}
.note-item > section small {
    display: inline-block;
}
.note-item input, .note-item textarea {
    width: 100%;
}
.note-item .note-title-section{
    margin-bottom:2px;
}
.note-item textarea {
    height: 100%;
}
.note-title-edit, .note-text-edit {
    display: none;
}
.note-link {
    position: absolute;
    bottom: 4px;
    right: 4px;
    opacity: 0.6;
}
.note-link:hover {
    opacity: 1;
}
.note-stats {
    position: relative;
    top: 9px;
    z-index: 5;
    float: right;
}
.note-stats li {
    float: left;
    list-style: none;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    color: #666;
    opacity: 0.6;
}
.note-card:hover .note-stats li {
    opacity: 1;
}
.note-stats li+li {
    margin-left: 10px;
}
.note-stats li a {
    display: inline-block;
    padding: 0 5px;
    color: #666;
}
.note-stats li a .octicon {
    color: #888;
}