<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="api/tests/test.php" colors="true">
    <testsuites>
        <testsuite name="Basic Test Suite">
            <directory>.api/tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>