<!-- Todo Template -->
<div class="note-title-section">
    <h1 class="note-title"><%= title %></h1>
    <input type="text" value="<%= title %>" class="note-title-edit" placeholder="Want a title? "/>
</div>
<div class="note-text-section">
    <ul class="note-items">
    </ul>
</div>
